<!DOCTYPE html>
<html> <!--   --> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- use the width of the device's screen so it looks good -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SingleStream</title>

        <!-- To Use Angular -->

        <!-- To use google visualizatoin -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
        <!-- Custom fonts for this template -->
        <link href="profile_resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!-- Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
        <link href="profile_resources/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- For the button that opens up the sidebar menu-->
        
        <link rel="stylesheet" href="profile_resources/css/icon-font.css" type='text/css' />
         
          <!-- Custom css specifically for this page (not the menu and sidebar) -->
        <link href="profile_resources/css/grayscale.css" rel="stylesheet">
        <!-- Custom css file for this page (mostly the sidebar and menu)-->
        <link href="profile_resources/css/style.css" rel='stylesheet' type='text/css' /> 
        <!-- jQuery -->
        <script src="profile_resources/js/jquery-2.1.4.js"></script>
        <link href="profile_resources/css/font-awesome.css" rel="stylesheet"> 

    </head>

<body class="sticky-header left-side-collapsed">
  <!-- onload="initMap() --> 
    <section>
      <!-- left side start-->
    <div class="left-side sticky-left-side">

      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="index.html">Single<span>Stream</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="/profile">SS </a>
      </div>
   <!-- /w3l-agile -->



  <div class="left-side-inner">

        <!--sidebar nav start-->
        <!-- These links are dead, not sure what the actual files names will end up being -->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/profile"><i class="lnr lnr-home"></i><span>Profile</span></a></li> 
            <!-- <li><a href="/settings"><i class="camera"></i> <span>Settings</span></a>
              <ul class="sub-menu-list">
                  <li><a data-toggle="modal" data-target="#myModal">Change Password</a> <li>
                  <li><a data-toggle="modal" data-target="#LocationModal">Add Location</a> </li>
                  <li><a data-toggle="modal" data-target="#PicModal">Add Profile Picture </a></li>
              </ul>
            </li> -->
            <li><a href="/friends"><i class="lnr lnr-users"></i> <span>Friends</span></a></li> 
            <li><a href="/playlists"><i class="lnr lnr-music-note"></i> <span>Playlists</span></a></li>           
            <li><a href="/analytics"><i class="lnr lnr-indent-increase"></i> <span>Analytics</span></a></li>
            <li><a href="/contact"><i class="lnr lnr-book"></i><span>Contact</span></a></li>
                        <li><a href="/logout"><i class="logout"></i><span>Logout</span></a></li>

            </li>
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>



  <!-- main content start-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">   
              <div class="col-md-3">
              </div>
                     
                    <div class="clearfix"> </div>
                </div>
              </div>
          <div class="clearfix"></div>
          </div> <!-- Header Section -->

        <div id="page-wrapper">
        <div class="inner-content">
        
        <!-- END MENU AND SIDEBAR -->
        
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <!-- PAGE CONTENT GOES HERE  -->

      <!-- Intro Header -->
            <div class="container" ng-app="myApp" > 
                <div class="container" ng-controller="mainController">
                  <div class="well">
                  <div class="row">
                    <!-- <div class="span"> -->
                  <!-- <form class="form-group"> -->
                  <div class="col-md-2">
                    <label>Following:
                      <input type="checkbox" ng-model="checkboxModel.following"
                              ng-true-value="'YES'" ng-false-value="'NO'">
                    </label><br/>
                  </div>
                    <div class="col-md-2">
                    <label>Followers:
                      <input type="checkbox" ng-model="checkboxModel.followers"
                             ng-true-value="'YES'" ng-false-value="'NO'">
                    </label><br/>
                    </div>
                    <div class="col-md-2">
                    </label>My Playlists:
                      <input type="checkbox" ng-model="checkboxModel.me"
                             ng-true-value="'YES'" ng-false-value="'NO'">
                     </label><br/>
                     </div>

                    <div class="col-md-3">
                     <label for="mySelect">Make a choice:</label>
                     <select name="analytics_select" id="analytics_select" ng-options="option.name for option in analyticsOptions.options track by option.id" ng-model="analyticsOptions.selectedOption"></select>
                   </div>
                   <div class="col-md-2">
                    <input type="submit" id="login" class="btn btn-primary" value="Search" ng-click="artist_search()">
                  </div>
                   </form>
                 </div>
               </div>
               <!-- <div class="well"> -->
                  <div class="row">
                    <div class="col-md-3">
                    </div>
                       <div class="col-md-2">
                            <button ng-click="show('table')" class="btnSearch btn btn-default" style="background-color:#222222;color:white;"> Draw Table </button>
                        </div>

                        <div class="col-md-2">
                            <button ng-click="show('gauge')" class="btnSearch btn btn-default" style="background-color:#222222;color:white; opacity:1"> Draw Gauge </button>
                        </div>

                        <div class="col-md-2">
                            <button ng-click="show('donut')" class="btnSearch btn btn-default" style="background-color:#222222;color:white; opacity:1"> Draw Donut </button>
                        </div>
                        <div class="col-md-3">
                        </div>
   
                  </div> <!-- Ends the Row class -->
                  <div class="row">
                    <div class="col col-md-3"></div>
                    <div class="col col-md-6"><div id="graphs" style="margin-top: 10px;width: 100%; height: 600px;color:black"></div></div>
                    <div class="col col-md-3"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>        

        <!-- END PAGE CONTENT -->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      </div>
      </div>
       <!-- <div id="page-end"> -->
 
    </div> <!--End main content -->

  </section>


<!-- Additional Scripts -->
<script src="profile_resources/js/jquery.nicescroll.js"></script>
<script src="profile_resources/js/scripts.js"></script>
<script src="profile_resources/js/bootstrap.js"></script>

<!--For playlists-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

</body>

<script type="text/javascript">
    //Variables/info we need to populate data visualizatons
      function drawTable(dic,keys) {
        var arr = [];
        for(i=0; i< keys.length; i++){
          arr.push([String(keys[i]),parseInt(dic[keys[i]])]);
          if(i == keys.length-1){
            setTimeout(function(){ 
              console.log(arr);
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Artist');
              data.addColumn('number', 'Frequency');
              data.addRows(arr);
              var table = new google.visualization.Table(document.getElementById('graphs'));
              table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
            }, 3000);
          }
        }      
      }

      function drawChart(dic,keys) {
        var arr = [['Artist','# of Mentions']];
        for(i=0; i< keys.length; i++){
          arr.push([String(keys[i]),parseInt(dic[keys[i]])]);
          if(i == keys.length-1){
            setTimeout(function(){ 
              console.log(arr);
              var data = google.visualization.arrayToDataTable(arr);
              var options = {
                width: 400, height: 300,
                redFrom: 90, redTo: 100,
                yellowFrom:75, yellowTo: 90,
                minorTicks: 5
              };
              var chart = new google.visualization.Gauge(document.getElementById('graphs'));
              chart.draw(data, options);
            }, 3000);
          }
        }      
      }
            

    function drawPie(dic, keys) {
      var arr = [['Aritst', '# Of Mentions']];
      for(i=0; i< keys.length; i++){
        arr.push([String(keys[i]),parseInt(dic[keys[i]])]);
        if(i == keys.length-1){
          setTimeout(function(){ 
            var data = google.visualization.arrayToDataTable(arr);
            var options = {
              title: 'Artist Share',
              pieHole: 0.4,
            };
            var chart = new google.visualization.PieChart(document.getElementById('graphs'));
            chart.draw(data, options);
          }, 3000);
        }
      }  
    }

    angular.module('myApp', []).controller('mainController', ['$scope','$http', function ($scope, $http) {

        $scope.artist_name = "";
        $scope.artist_dict = ""; //dictionary of all artists (keys) and frequency amongst users
        $scope.artist_keys = ""; //list of keys (artists)

        $scope.checkboxModel = {
           following : 'YES',
           followers : 'YES',
           me : 'YES'
         };

        $scope.artist_search = function(){
          // console.log("Selected Option " + );
          // var option = String($scope.analyticsOptions.options.name);
          var req = {
            method: 'POST',
            url: '/analytics_artist_search',
            data: {'checked': $scope.checkboxModel, 'option': $scope.analyticsOptions.selectedOption.name}//pass in artist name
          }
          console.log("SEARCH");
          $http(req).success(function(data){
            console.log(data);
            $scope.artist_dict = data[0];
            $scope.artist_keys = data[1];
            console.log($scope.artist_keys.length);
            for(i=0; i<$scope.artist_keys.length; i++){
              console.log($scope.artist_dict[$scope.artist_keys[i]]);
            }
          });
        };

        $scope.analyticsOptions = {
          options: [
            {id: '1', name: 'Artists'},
            {id: '2', name: 'Tracks'},
            {id: '3', name: 'Tags'}
          ],
          selectedOption: {id: '1', name: 'Artists'} //This sets the default value of the select in the ui
        };


        $scope.show = function(item){
        	console.log("show");
          // console.log($scope.artist_mentions[$scope.artist_name]);
          // console.log("Hey I am here");
          if(item == 'table'){
            google.charts.load('current', {'packages':['table']});
            google.charts.setOnLoadCallback(drawTable($scope.artist_dict,$scope.artist_keys));
          }
          else if(item == 'gauge'){
            google.charts.load('current', {'packages':['gauge']});
            google.charts.setOnLoadCallback(drawChart($scope.artist_dict,$scope.artist_keys));
          }
          else if(item == 'donut'){
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawPie($scope.artist_dict,$scope.artist_keys));
          }
        };
    }]);

</script>

</html>
