<!DOCTYPE html>
<html> <!--   --> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- use the width of the device's screen so it looks good -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SingleStream</title>

        <!-- To Use Angular -->

        <!-- To use google visualizatoin -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
        <!-- Custom fonts for this template -->
        <link href="profile_resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!-- Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
        <link href="profile_resources/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- For the button that opens up the sidebar menu-->
        
        <link rel="stylesheet" href="profile_resources/css/icon-font.css" type='text/css' />
         
          <!-- Custom css specifically for this page (not the menu and sidebar) -->
        <link href="profile_resources/css/grayscale.css" rel="stylesheet">
        <!-- Custom css file for this page (mostly the sidebar and menu)-->
        <link href="profile_resources/css/style.css" rel='stylesheet' type='text/css' /> 
        <!-- jQuery -->
<!--         <script src="profile_resources/js/jquery-2.1.4.js"></script> -->
        <link href="profile_resources/css/font-awesome.css" rel="stylesheet"> 

    </head>

<body class="sticky-header left-side-collapsed">
  <!-- onload="initMap() --> 
    <section>
      <!-- left side start-->
    <div class="left-side sticky-left-side">

      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="index.html">Single<span>Stream</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="/profile">SS </a>
      </div>
   <!-- /w3l-agile -->



  <div class="left-side-inner">

        <!--sidebar nav start-->
        <!-- These links are dead, not sure what the actual files names will end up being -->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/profile"><i class="lnr lnr-home"></i><span>Profile</span></a></li> 
            <li><a href="/settings"><i class="camera"></i> <span>Settings</span></a>
              <ul class="sub-menu-list">
                  <li><a data-toggle="modal" data-target="#myModal">Change Password</a> <li>
                  <li><a data-toggle="modal" data-target="#LocationModal">Add Location</a> </li>
                  <li><a data-toggle="modal" data-target="#PicModal">Add Profile Picture </a></li>
              </ul>
            </li>
            <li><a href="/friends"><i class="lnr lnr-users"></i> <span>Friends</span></a></li> 
            <li><a href="/playlists"><i class="lnr lnr-music-note"></i> <span>Playlists</span></a></li>           
            <li><a href="/analytics"><i class="lnr lnr-indent-increase"></i> <span>Analytics</span></a></li>
            <li><a href="/contact"><i class="lnr lnr-book"></i><span>Contact</span></a></li>
            </li>
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>



  <!-- main content start-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">   
              <div class="col-md-4 serch-part">
                <div id="sb-search" class="sb-search">
                  <form id="search-form" action="#" method="post">

                    <input class="sb-search-input" placeholder="Search" type="search" name="search" id="query"> 
                    <!-- id used to be "search" -->
                    <input class="sb-search-submit" type="submit" value="">
                    <span class="sb-icon-search"> </span>
                  </form>
                </div>
              </div>
                <!-- search-scripts -->
                  <script src="js/classie.js"></script>
                  <script src="js/uisearch.js"></script>
                    <script>
                      new UISearch( document.getElementById( 'sb-search' ) );
                    </script>
                  <!-- //search-scripts -->
                       <!---->
                        <div class="col-md-4 player">
                          <div class="audio-player">
                            <audio id="audio-player"  controls="controls">
                             <!--  <source ng-bind-html="myHTML"></source> -->
                                <source src="media/bdaysx.mp3" type="audio/mpeg"></source>
                                </audio>
                            </div>
                        <!---->
                        <script type="text/javascript">
                          $(function(){
                            $('#audio-player').mediaelementplayer({
                            alwaysShowControls: true,
                            features: ['playpause','progress','volume'],
                            audioVolume: 'horizontal',
                            iPadUseNativeControls: true,
                            iPhoneUseNativeControls: true,
                            AndroidUseNativeControls: true
                          });
                         });
                        </script>
                        <!--audio-->
                          <link rel="stylesheet" type="text/css" media="all" href="css/audio.css">
                          <script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>
                          <!---->


                        <!--//-->
                        <ul class="next-top">
                          <li><a class="ar" href="#"> <img src="images/arrow.png" alt=""/></a></li>
                          <li><a class="ar2" href="#"><img src="images/arrow2.png" alt=""/></i></a></li>
                            
                       </ul>  
                      </div>

                      <!-- This is the login button, this should probably end up throwing you the our own specific login page -->
                      <!-- I just am not sure what that is going to look like yet so this is just a template from online -->
                      <div class="col-md-4 login-pop">
                        <div id="loginpop"> <a href="#" id="loginButton"><span>+Add Playlist</span></a><a class="top-sign" href="#" data-toggle="modal" data-target="#myModal5"></a>

                            <div id="loginBox">  
                        <form action="#" method="post" id="loginForm">
                                  <fieldset id="body">
                                    <fieldset>
                                        <label for="email">Playlist Name</label>
                                        <input type="text" name="email" id="email">
                                    </fieldset>
                                    <input type="submit" id="login" value="Go">
                                  </fieldset>
                             </form>
                          </div>
                        </div>

                      </div>
                    <div class="clearfix"> </div>
                </div>
              </div>
          <div class="clearfix"></div>
          </div> <!-- Header Section -->

        <div id="page-wrapper">
        <div class="inner-content">
        
        <!-- END MENU AND SIDEBAR -->
        
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <!-- PAGE CONTENT GOES HERE  -->

      <!-- Intro Header -->
            <div class="container" ng-app="myApp" > 
                <div class="container" ng-controller="mainController">
                  <div class="form-group">
                    <label for="usr">Artist Search</label>
                    <input type="text" class="form-control" placeholder="Artist Name - Required" id="artist_name" ng-model="artist_name">
                  </div>
                  <input type="submit" id="login" class="btn btn-primary" value="Search" ng-click="artist_search()">
                  <div class="row">
                       <div class="col-md-3">
                            <button ng-click="show('table')" class="btnSearch btn btn-default" style="background-color:#222222;color:white;"> Draw Table </button>
                        </div>

                        <div class="col-md-3">
                            <button ng-click="show('map')"  class="btnSearch btn btn-default" style="background-color:#222222;color:white; opacity:1"> Draw Map </button>
                        </div>

                        <div class="col-md-3">
                            <button ng-click="show('gauge')" class="btnSearch btn btn-default" style="background-color:#222222;color:white; opacity:1"> Draw Gauge </button>
                        </div>

                        <div class="col-md-3">
                            <button ng-click="show('donut')" class="btnSearch btn btn-default" style="background-color:#222222;color:white; opacity:1"> Draw Donut </button>
                        </div>
   
                    </div> <!-- Ends the Row class -->

                  <!-- Charts -->
                      <div id="graphs" style="margin-top: 10px;width: 400px; height: 300px;color:black"></div>
<!--                       <div id="table_div"></div> -->
<!--                       <div id="gauge_div" style="width: 400px; height: 120px;"></div>
                      <div id="donutchart" style="width: 900px; height: 500px;"></div> -->
                  <!-- </div> Ends well class  -->
               
              
            <!-- </div> -->


                                  <!-- Settings Modals -->
                                    <!-- Password Modal -->
<!--                   <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog"> -->
                      <!-- Modal content-->
<!--                       <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="color: black;">Change Password</h4>
                        </div>
                        <div class="modal-body" style="color:black;">
                          <p>Enter New Password:</p>
                           <input type="text", ng-model="pass" class="form-control" placeholder="New Password" />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div> 
                    </div>
                  </div> -->
                  
                  <!-- Password Modal -->
<!--                   <div class="modal fade" id="PicModal" role="dialog" style='' background-image: url("profile_resources/images/radio1.png");''>
                    <div class="modal-dialog"> -->
                      <!-- Modal content-->
<!--                       <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" style="color: black;">Upload Picture</h4>
                        </div>
                        <div class="modal-body" style="color:black;">
                          <p>Find New Photo:</p> -->

                           <!-- <form action="/action_page.php">
                            <input type="file" name="pic" accept="image/*">
                            <input type="submit"> -->
                            <!-- trying to push this file to angular controller -->
<!--                             <img ng-if="image" src="{{image}}" alt="">
                            <form action="">
                                <input my-upload type="file" name="upload">
                            </form> -->
                            <!-- <input type="file" id="file" name="file"/>
                            <button ng-click="upload()">Add</button>
                          </form> -->
<!--                         </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div> 
                    </div>
                  </div>
                  <img ng-if="image" src="{{image}}" alt=""> -->
<!--         <form action="">
            <input my-upload type="file" name="upload">
        </form> -->
      </div>
    </div>
 </div>        

        <!-- END PAGE CONTENT -->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      </div>
      </div>
       <!-- <div id="page-end"> -->
 
    </div> <!--End main content -->

  </section>


<!-- Additional Scripts -->
<script src="profile_resources/js/jquery.nicescroll.js"></script>
<script src="profile_resources/js/scripts.js"></script>
<script src="profile_resources/js/bootstrap.js"></script>

<!--For playlists-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

</body>

<script type="text/javascript">
    //Variables/info we need to populate data visualizatons

        //Names
        var Name1 = "Will";
        var Name2 = "Roshni";
        var Name3 = "John";
        var Name4 = "Rob";
        var Name5 = "Ryan";
        //Number of Songs they have

        function drawTable() {

          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Name');
          data.addColumn('number', 'Number of Songs');
          data.addColumn('boolean', 'Friends?');
          data.addRows([
            [Name1,  400, false],
            ['Roshni', 350 ,  false],
            ['John', 500, true],
            ['Rob',600   , true],
            ['Ryan', 200 , true]
          ]);

          var table = new google.visualization.Table(document.getElementById('graphs'));

          table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }

      function drawMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Name'],
          ['Japan', 'John'],
          ['India', 'Roshni'],
          ['Hawaii', 'Will']

        ]);

          var options = {
            showTooltip: true,
            showInfoWindow: true
          };

          var map = new google.visualization.Map(document.getElementById('graphs'));

          map.draw(data, options);
      };
      function drawChart() {

            var data = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['Memory', 80],
              ['CPU', 55],
              ['Network', 68]
            ]);

            var options = {
              width: 400, height: 120,
              redFrom: 90, redTo: 100,
              yellowFrom:75, yellowTo: 90,
              minorTicks: 5
            };

            var chart = new google.visualization.Gauge(document.getElementById('graphs'));

            chart.draw(data, options);

            setInterval(function() {
              data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
              chart.draw(data, options);
            }, 13000);
            setInterval(function() {
              data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
              chart.draw(data, options);
            }, 5000);
            setInterval(function() {
              data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
              chart.draw(data, options);
            }, 26000);
          }
    function drawPie() {
          var data = google.visualization.arrayToDataTable([
            ['Song', 'Number of Plays'],
            ['Sugar',     11],
            ['Dream On',      2],
            ['Let Me Love You',  2],
            ['Hotel California', 2],
            ['Clocks',    7]
          ]);

          var options = {
            title: 'Top Played Songs',
            pieHole: 0.4,
          };

          var chart = new google.visualization.PieChart(document.getElementById('graphs'));
          chart.draw(data, options);
    }
    angular.module('myApp', []).controller('mainController', ['$scope','$http', function ($scope, $http) {
        $scope.artist_search = function(){
          var req = {
            method: 'POST',
            url: '/analytics_artist_search',
            data: {'artist': $scope.artist_name} //pass in artist name
          }
          $http(req).success(function(data){
            alert(data);
          });
        };

        $scope.show = function(item){
          // console.log("Hey I am here");
          console.log(item);
          if(item == 'table'){
            google.charts.load('current', {'packages':['table']});
            google.charts.setOnLoadCallback(drawTable);
          }
          else if(item == 'map'){
            google.charts.load('current', { 'packages': ['map'] });
            google.charts.setOnLoadCallback(drawMap);
          }
          else if(item == 'gauge'){
            google.charts.load('current', {'packages':['gauge']});
            google.charts.setOnLoadCallback(drawChart);
          }
          else if(item == 'donut'){
            google.charts.load("current", {packages:['corechart']});
            google.charts.setOnLoadCallback(drawPie);
          }
        };
    }]);

  //Chart creation functions//
  /////////////////////////////////////////

      

  // function draw3DPie() {
  //       var data = google.visualization.arrayToDataTable([
  //         ['Song', 'Number of Plays'],
  //         ['Sugar',     11],
  //         ['Dream On',      2],
  //         ['Let Me Love You',  2],
  //         ['Hotel California', 2],
  //         ['Clocks',    7]
  //       ]);

  //       var options = {
  //         title: 'Top Played Songs',
  //         is3D: true,
  //       };

  //       var chart = new google.visualization.PieChart(document.getElementById('graphs'));
  //       chart.draw(data, options);
  //     }

</script>

</html>
