<!DOCTYPE html>
<html> <!--   --> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- use the width of the device's screen so it looks good -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SingleStream</title>

        <!-- Custom fonts for this template -->
        <link href="profile_resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!-- Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
        <link href="profile_resources/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- For the button that opens up the sidebar menu-->
        
        <link rel="stylesheet" href="profile_resources/css/icon-font.css" type='text/css' />
         
          <!-- Custom css specifically for this page (not the menu and sidebar) -->
        <link href="profile_resources/css/grayscale.css" rel="stylesheet">
        <!-- Custom css file for this page (mostly the sidebar and menu)-->
        <link href="profile_resources/css/style.css" rel='stylesheet' type='text/css' /> 
        <!-- jQuery -->
        <script src="profile_resources/js/jquery-2.1.4.js"></script>
        <link href="profile_resources/css/font-awesome.css" rel="stylesheet"> 
        <!-- lined-icons -->
        <style>
          li {
            list-style: none;
          }

          .clickyclack:hover{
              background-color: #477d8c;
          }
        </style>

    </head>

<body class="sticky-header left-side-collapsed" ng-app="playlists" ng-controller="mainController">
  <!-- onload="initMap() --> 
    <section>
      <!-- left side start-->
    <div class="left-side sticky-left-side">

      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="index.html">Single<span>Stream</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="/profile">SS </a>
      </div>
   <!-- /w3l-agile -->



        <div class="left-side-inner">

        <!--sidebar nav start-->
        <!-- These links are dead, not sure what the actual files names will end up being -->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/profile"><i class="lnr lnr-home"></i><span>Profile</span></a></li> 
            <li><a href="/friends"><i class="lnr lnr-users"></i> <span>Friends</span></a></li> 
            <li><a href="/playlists"><i class="lnr lnr-music-note"></i> <span>Playlists</span></a></li>           
            <li><a href="/analytics"><i class="lnr lnr-indent-increase"></i> <span>Analytics</span></a></li>
            <li><a href="/contact"><i class="lnr lnr-book"></i><span>Contact</span></a></li>
            <!-- <li><a href="/settings"><i class="settings"></i><span>Settings</span></a>
              <ul class="sub-menu-list">
                  <li><a data-toggle="modal" data-target="#myModal">Change Password</a> <li>
                  <li><a data-toggle="modal" data-target="#LocationModal">Add Location</a> </li>
                  <li><a data-toggle="modal" data-target="#PicModal">Add Profile Picture </a></li>
              </ul>
            </li> -->
            <li><a href="/logout"><i class="logout"></i><span>Logout</span></a></li>

            </li>
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>



  <!-- main content start-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">
            <div class="col-md-9">
            </div>  

              
                      <!-- This is the login button, this should probably end up throwing you the our own specific login page -->
                      <!-- I just am not sure what that is going to look like yet so this is just a template from online -->
                      <div class="col-md-3 login-pop">
                        <div id="loginpop"> <a href="#" id="loginButton"><span>+Follow a User</span></a><a class="top-sign" href="#" data-toggle="modal" data-target="#myModal5"></a>

                          <div id="loginBox">  
                            <form id="loginForm">
                                <fieldset id="body">
                                  <fieldset>
                                      <div id="search_field" class="form-group">
                                        <label for="usr">Enter a user's email</label>
                                        <input type="text" class="form-control" placeholder="Billy Joel" id="follower" ng-model="query">
                                        <input type="submit" id="login" class="btn btn-primary" value="Search" ng-click="search()">
                                      </div>
                                  </fieldset>
                                </fieldset>
                            </form>
                          </div>
                        </div>

                      </div>
                    <div class="clearfix"> </div>
                </div>
              </div>
          <div class="clearfix"></div>
          </div> <!-- Header Section -->

        <div id="page-wrapper">
        
        <!-- END MENU AND SIDEBAR -->
        
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

      <!-- PAGE CONTENT GOES HERE  -->

      <!-- Intro Header -->
<!--             <div class="container">
              <div class="row">
                <div class="well col-lg-8">
                  <p>{{statusMsg}}</p>
                  <ul><li ng-repeat="result in users">{{result.local.email}} <button ng-click="add(result)" class="btn btn-primary">Add</button></li></ul>
                <input type="submit" class="btn btn-success" value="Apply" ng-click="apply()">
                </div>
                <div class="row" ng-repeat="followers in friends[0]">
                  <div class="well col-lg-3">{{followers.name}}</div>
                  <div class="well col-lg-3">{{following}}</div>
                </div>
              </div>
            </div> --> 

            

            <div class="container">
              <div class="row">
                <div class="well col-md-4">
                  <p>{{statusMsg}}</p>
                  <ul><li ng-repeat="result in users">{{result.local.email}} <button ng-click="add(result)" class="btn btn-primary add">Add</button></li></ul>
                </div>
                <div class="well col-md-3">
                  <div>
                      <h3>Followers</h3>
                      <ul><li ng-repeat="user in followers track by $index" ng-click="load_friends_view($index)" class="clickyclack">{{user.name}}</li></ul>
                  </div>
                </div>
                <div class="well col-md-3">
                    <div>
                      <h3>Following</h3>
                      <ul><li ng-repeat="user in following track by $index" ng-click="load_following_view($index)">{{user.name}}</li></ul>
                    </div>
                </div>
              </div>
            </div>

            <div id="views"> 
              <div class="well">
              <table>
                <th>Follower Information</th>
              <!-- <tr ng-repeat="follower in followers track by $index"> -->
              <tr>
              <td ng-click="load_friends_view($index)"> {{please.name}} </td>
            </table>

                </div>
            </div>

             <div id="views2"> 
              <div class="well">
              <table>
                <th>Following Information</th>
                <tr>
             <!--  <tr ng-repeat="follower in following track by $index"> -->
              <td ng-click="load_following_view($index)"> {{prettyplease.name}} </td>
            </table>

                </div>
            </div>

        <!-- END PAGE CONTENT -->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      </div>
       <!-- <div id="page-end"> -->
 
    </div> <!--End main content -->

  </section>


<!-- Additional Scripts -->
<script src="profile_resources/js/jquery.nicescroll.js"></script>
<script src="profile_resources/js/scripts.js"></script>
<script src="profile_resources/js/bootstrap.js"></script>

<!--For playlists-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

</body>

<script>
//This grabs the word you searched
document.getElementById('search-form').addEventListener('submit', function(e) {

  console.log(document.getElementById('query').value); //prints the query to the conosle

  //alert(document.getElementById('query').value); //alerts the window of the query

  document.getElementById("audio-player").innerHTML = '<audio id="audio-player"  controls="controls">' + '<source src="' + media/breathe.mp3 + '" type="audio/mpeg"></source>' + '</audio>'

}, false);


 function myFunction() {
  // document.getElementById("audio-player").innerHTML = '<audio id="audio-player"  controls="controls">' + '<source src="' + 'media/breathe.mp3' + '" type="audio/mpeg"></source>' + '</audio>';
  //document.getElementById("audio-player").innerHTML = '<p>yo</p>';
  console.log(document.getElementById("audio-player"));
 }
</script>

<script>
var app = angular.module("playlists", ['ngSanitize']);
  app.controller("mainController", ['$scope','$http','$compile', '$timeout', function($scope, $http, $compile,$timeout) {

    $scope.statusMsg = "Please use the add follower button above to search for a user by their email address. Then click Search to display the corresponding users."

    $scope.query = ""; //Parameter for searching users
    $scope.users = "";
    $scope.followers = [];
    $scope.following = [];
    $scope.please = "";

    //Add a new user to your following list
    $scope.add = function(result){
      var req = {
          method: 'POST',
          url: '/add_following',
          data: {'result': result}
      }
      $http(req).success(function(data){
         console.log("Hey");
         $scope.statusMsg = "This user has been added to your friends."
         location.reload();
      });
    }

    //Search napster and youtube for new songs and videos to add to an existing custom playlist
    $scope.search = function(){
      if($scope.query.length == 0){
        alert("Please enter the email of the person you want to follow");
        return;
      }
      var req = {
          method: 'POST',
          url: '/find_users_to_follow',
          data: {'q': $scope.query}
        }
      $http(req).success(function(data){
           $scope.users = data;
           console.log(data);
           $scope.statusMsg = "The results are displayed below. Click 'Add' to add the friend."
      });
    }


    // Get the current followers and following from the back end
    $scope.get_followers_following = function(){
      var req = {
          method: 'GET',
          url: '/get_followers_following',
      }
      $http(req).success(function(data){
          $scope.followers = data[0];
          $scope.following = data[1];
      });
    }
    //Load playlists into view when user clicks on a specific playlist
    $scope.load_friends_view = function(i){
        // $('#search_field').show();
        $('#views').show();
        $scope.please = $scope.followers[i];
        $scope.tracks = $scope.followers[i];
        // $scope.current_playlist = $scope.user_playlists[i]._id;
        // $scope.current_playlist_name = $scope.user_playlists[i].name;
    }
    $scope.load_following_view = function(i){
        // $('#search_field').show();
        $('#views2').show();
        $scope.prettyplease = $scope.following[i];
        $scope.tracks = $scope.following[i];
        // $scope.current_playlist = $scope.user_playlists[i]._id;
        // $scope.current_playlist_name = $scope.user_playlists[i].name;
    }

    //On page load, hide the search field for adding new songs to an existing playlist
    angular.element(document).ready(function () {
      $timeout($scope.get_followers_following, 10);
      $('#views').hide();
      $('#views2').hide();

    });


  }]);
</script>
</html>
