<!Doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile Page</a>
    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (g_playlists) { %>
                    <p>
                        <strong>Body</strong>: <%= g_playlists %>
                    </p>

                <% } else { %>
                    <p>Please connect your Google account.</p>
                <% } %>

            </div>
        </div>

        <!-- NAPSTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class=""></span> Napster</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (n_playlists) { %>
                    <p>
                        <strong>Body</strong>: <%= n_playlists %>
                    </p>
                <% } else { %>
                    <p>Please connect your Napster account.</p>
                <% } %>

            </div>
        </div>
    </div>

</div>
</body>
</html>