<!DOCTYPE html>
<html ng-app="playlists">
  <head>
    <title>Playlists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      body {
        background: black;
      }
      h1 {
        text-align: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <div ng-controller="mainController">
      <div class="header">
        <h1>Playlists</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="well">
            <div class="form-group">
              <label for="usr">Create a new playlist:</label>
              <input type="text" class="form-control" placeholder="Playlist Name - Required" id="playlist_name" ng-model="playlist_name">
              <div class="form-group">
                  <label for="comment">Description:</label>
                  <textarea class="form-control" rows="5" placeholder="Optional Description" id="description" ng-model="description"></textarea>
                </div>
                <label for="usr">Tags (comma seperated):</label>
                <input type="text" class="form-control" placeholder="Pop, Hip-Hop" id="tags" ng-model="tags">
                <input type="submit" class="btn btn-primary" value="Create" ng-click="create()">
            </div>
          </div>
        </div>
      </div>
      <!--Playlists added here-->
      <div class="container">
        <div class="row">
          <div class="well">
            <div id="trustedHtml"></div>
          </div>
        </div>
        <div class="row">
          <div class="well" id="views">
          </div>
        </div>
      </div>
    </div>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
<script>
  var app = angular.module("playlists", ['ngSanitize']);
  app.controller("mainController", ['$scope','$http','$compile', function($scope, $http, $compile) {
     // var btnhtml = '<button type="button" ng-click="addButton()">Click Me</button>';
     //    var temp = $compile(btnhtml)($scope);

     //    //Let's say you have element with id 'foo' in which you want to create a button
     //    angular.element(document.getElementById('trustedHtml')).append(temp);

     //   var addButton = function(){
     //      alert("button clicked");
     //      alert('Yes Click working at dynamically added element');
     //   }

    $scope.view = 0;
    $scope.ready = 0;
    $scope.playlist_name = "";
    $scope.description = "";
    $scope.tags = "";
    $scope.data = null;
    $scope.tracks = null;
    $scope.row = "";
    $scope.trustedHtml = "";

    angular.element(document).ready(function () {
        var req = {
            method: 'GET',
            url: '/get_playlists',
        }
        $http(req).success(function(data){
            $scope.data = data;
            var row = "<div class='row'>";
            for(i=0; i<data.length; i++){
                if(i%4 == 0){
                    row+='</div>'
                    row+='<div class="row">';
                }
                row+= '<div class="col col-md-3">';
                row+= '<button id="playlist_' + i + '" onclick="angular.element(this).scope().ready_change(' + i + ')" type="button" class="btn btn-primary btn-lg">' + data[i].name +'</button>';
                row+= '</div>';
            }
            row += "</div>";
            $('#trustedHtml').html(row);
        });
    });

    $scope.ready_change = function(i){
        alert("hello");
        $scope.tracks = $scope.data[i].tracks;
        var headerString = "<div class='row'>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-3'>Name</div>";
        headerString += "<div class='col col-md-3'>Artist/Channel</div>";
        headerString += "<div class='col col-md-2'>Playlist/Album</div>";
        headerString += "</div>";
        $('#views').html(headerString);
        console.log($scope.tracks);
        var str = "";
        for(i = 0; i < $scope.tracks.length; i++){
          str+= "<div class='row'><p>" + $scope.tracks[i] + "</p></div>"
        }
        $('#views').append(str);
    }
    

    $scope.create = function(){
      var req = {
          method: 'POST',
          url: '/create_playlist',
          data: {'playlist_name': $scope.playlist_name, 'description':$scope.description, 'tags': $scope.tags}
        }
      $http(req).success(function(data){
            if(data == "Done"){
                location.reload();
            }
      });
    }
  }]);
</script>
</html>

