<!DOCTYPE html>
<html ng-app="playlists">
  <head>
    <title>Playlists</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      body {
        background: black;
      }
      h1 {
        text-align: center;
        color: white;
      }
      .yellow-wellow{
        background-color: yellow;
      }
      li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div ng-controller="mainController">
      <div class="header">
        <h1>Playlists</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="well">
            <button type="button" ng-click="toggleCustom()" class="btn btn-primary btn-block">Create New Playlist</button>
            <span ng-hide="custom">
            <div class="form-group">
              <label for="usr">Create a new playlist:</label>
              <input type="text" class="form-control" placeholder="Playlist Name - Required" id="playlist_name" ng-model="playlist_name">
              <div class="form-group">
                  <label for="comment">Description:</label>
                  <textarea class="form-control" rows="5" placeholder="Optional Description" id="description" ng-model="description"></textarea>
              </div>
              <label for="usr">Tags (comma seperated):</label>
              <input type="text" class="form-control" placeholder="Pop, Hip-Hop" id="tags" ng-model="tags">
              <input type="submit" class="btn btn-primary" value="Create" ng-click="create()">
            </span>
            </div>
          </div>
        </div>
      </div>
      <!--Playlists added here-->
      <div class="container">
        <div class="row">
          <div class="well">
            <div id="all_playlists"></div>
          </div>
        </div>
        <div class="row">
          <div class="well">
            <div id="search_field" class="form-group">
              <label for="usr">Search for a new song or video to your playlist:</label>
              <input type="text" class="form-control" placeholder="Billie Jean" id="query" ng-model="query">
              <input type="submit" class="btn btn-primary" value="Search" ng-click="search()">
              <input type="submit" class="btn btn-success" value="Apply" ng-click="apply()">
            </div>
            <div id="well yellow-well">
              <ul><li ng-repeat="result in search_results track by $index">{{result[1]}}, {{result[2]}}, {{result[3]}}, <button ng-click="add(result)" class="btn btn-primary">Add</button></li></ul>
            </div>
            <div id="views"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
<script>
  var app = angular.module("playlists", ['ngSanitize']);
  app.controller("mainController", ['$scope','$http','$compile', function($scope, $http, $compile) {

    $scope.query = ""; //Parameter for searching new songs or videos
    $scope.playlist_name = ""; //Name of new playlist
    $scope.description = ""; //Description for new playlist
    $scope.tags = ""; //Tags for new playlist
    $scope.data = null; //Returned videos and songs from search
    $scope.tracks = null; //Tracks from custom playlists
    $scope.trustedHtml = "";
    $scope.search_results = [];
    $scope.current_playlist = "";

    //Toggle create new playlist button
    $scope.custom = true;
    $scope.toggleCustom = function() {
        $scope.custom = $scope.custom === false ? true: false;
    };

    angular.element(document).ready(function () {
      //On page load, hide the search field for adding new songs to an existing playlist
        $('#search_field').hide();
        var req = {
            method: 'GET',
            url: '/get_playlists',
        }
        //Retrieve all custom playlists from backend
        $http(req).success(function(data){
            $scope.data = data;
            var row = "<div class='row'>";
            for(i=0; i<data.length; i++){
                if(i%4 == 0){
                    row+='</div>'
                    row+='<div class="row">';
                }
                row+= '<div class="col col-md-3">';
                row+= '<button id="playlist_' + i + '" onclick="angular.element(this).scope().ready_change(' + i + ')" type="button" class="btn btn-primary btn-lg">' + data[i].name +'</button>';
                row+= '</div>';
            }
            row += "</div>";
            //Append the tabs to access each playlist stored in user's account
            $('#all_playlists').html(row);
        });
    });

    //Add a new song to a playlist
    $scope.add = function(result){
      var req = {
          method: 'POST',
          url: '/add_to_playlist',
          data: {'result': result, "playlist_id": $scope.current_playlist}
      }
      $http(req).success(function(data){
          alert(data);
      });
    }

    //Applies new changes to playlist
    $scope.apply = function(){
      location.reload();
    }

    //Load playlists into view when user clicks on a specific playlist
    $scope.ready_change = function(i){
        $('#search_field').show();
        $scope.tracks = $scope.data[i].tracks;
        $scope.current_playlist = $scope.data[i]._id;
        var headerString = "<div class='row'>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-3'>Name</div>";
        headerString += "<div class='col col-md-3'>Artist/Channel</div>";
        headerString += "<div class='col col-md-2'>Playlist/Album</div>";
        headerString += "</div>";
        $('#views').html(headerString);
        var str = "";
        for(i = 0; i < $scope.tracks.length; i++){
          str+= "<div class='row'><p>" + $scope.tracks[i] + "</p></div>"
        }
        $('#views').append(str);
    }

    //Search napster and youtube for new songs and videos to add to an existing custom playlist
    $scope.search = function(){
      if($scope.query.length == 0){
        alert("Please enter a song!")
        return;
      }
      var req = {
          method: 'POST',
          url: '/search',
          data: {'q': $scope.query}
        }
      $http(req).success(function(data){
          $scope.search_results = data;
          console.log(data);
      });
    }

    //Create new custom playlist
    $scope.create = function(){
      var req = {
          method: 'POST',
          url: '/create_playlist',
          data: {'playlist_name': $scope.playlist_name, 'description':$scope.description, 'tags': $scope.tags}
        }
      $http(req).success(function(data){
            if(data == "Done"){
                location.reload();
            }
      });
    }
  }]);
</script>
</html>

