<!DOCTYPE html>
<html>
  <head>
    <title>napster.js Sample App</title>
    <link rel="stylesheet" type="text/css" href="../napster_specific/napster_client.css">
  </head>
  <body>
    <div class="header">
      <div class="header-text">napster.js Sample App<span class="user"></span></div>
    </div>
    <div id="tracks"></div>
  </body>
</html>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="../napster_specific/napster.js" type="text/javascript"></script>
<script src="../napster_specific/napster_client.js" type="text/javascript"></script>
<script>
  var API_KEY = 'YWQzNWQxZWMtNDU5Mi00NjJjLThkNTAtNjcwN2M4Yjc5NWM4';
  $( document ).ready(function() {
    player();
});
</script>
