.well {
	color: white;
	background-color: black;
	opacity: .5;
	border-radius: 0;
	border: none;
	margin: 0;
}

.masthead {
	background: url(../img/profile_background.jpg) no-repeat bottom center scroll;
}

.row {
	margin-top: 10%;
}

#profileHeader {
	margin-right: 50%;
}