<!DOCTYPE html>
<html> <!--   --> <!--<![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- use the width of the device's screen so it looks good -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>SingleStream</title>
      
        <!-- Custom fonts for this template -->
        <link href="profile_resources/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!-- Fonts  -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
        <link href="profile_resources/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- For the button that opens up the sidebar menu-->
        
        <link rel="stylesheet" href="profile_resources/css/icon-font.css" type='text/css' />
         
          <!-- Custom css specifically for this page (not the menu and sidebar) -->
        <link href="profile_resources/css/grayscale.css" rel="stylesheet">
        <!-- Custom css file for this page (mostly the sidebar and menu)-->
        <link href="profile_resources/css/style.css" rel='stylesheet' type='text/css' /> 
        <!-- jQuery -->
        <script src="profile_resources/js/jquery-2.1.4.js"></script>
        <link href="profile_resources/css/font-awesome.css" rel="stylesheet"> 
        <!-- lined-icons -->


    </head>

<body class="sticky-header left-side-collapsed">
  <!-- onload="initMap() --> 
    <section>
      <!-- left side start-->
    <div class="left-side sticky-left-side">

      <!--logo and iconic logo start-->
      <div class="logo">
        <h1><a href="/profile">Single<span>Stream</span></a></h1>
      </div>
      <div class="logo-icon text-center">
        <a href="/profile">SS </a>
      </div>
   <!-- /w3l-agile -->



  <div class="left-side-inner">

        <!--sidebar nav start-->
          <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="/profile"><i class="lnr lnr-home"></i><span>Profile</span></a></li> 
            <li><a href="/friends"><i class="lnr lnr-users"></i> <span>Friends</span></a></li> 
            <li><a href="/playlists"><i class="lnr lnr-music-note"></i> <span>Playlists</span></a></li>           
            <li><a href="/analytics"><i class="lnr lnr-indent-increase"></i> <span>Analytics</span></a></li>
            <li><a href="/contact"><i class="lnr lnr-book"></i><span>About Us</span></a></li>
            <li><a href="/logout"><i class="logout"></i><span>Logout</span></a></li>

            </li>
          </ul>
        <!--sidebar nav end-->
      </div>
    </div>



  <!-- main content start-->
    <div class="main-content">
      <!-- header-starts -->
      <div class="header-section">
      <!--toggle button start-->
      <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
      <!--toggle button end-->
      <!--notification menu start -->
        <div class="menu-right">
          <div class="profile_details">   
            <div class="col-md-9">
            </div>

                    <div class="clearfix"> </div>
                </div>
              </div>
          <div class="clearfix"></div>
          </div> <!-- Header Section -->

        <div id="page-wrapper">
        <div class="inner-content">
        
        <!-- END MENU AND SIDEBAR -->
        
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

        <!-- PAGE CONTENT GOES HERE  -->

      <!-- Intro Header -->
            <div class="container">
              <h1 style="text-align:center;">Meet The Team</h1>
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2 profile">
                  <img src="profile_resources/images/rob.jpg" class="profilePic">
                  <h4 style="margin:0 auto;">Rob Rotering</h4>
                  <h6>Full Stack Overseer</h6>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 profile">
                  <img src="profile_resources/images/john.jpg" class="profilePic">
                  <h4 style="margin:0 auto;">John Fantell</h4>
                  <h6>Back End Developer</h6>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 profile">
                  <img src="profile_resources/images/roshni.jpg" class="profilePic">
                  <h4 style="margin:0 auto;">Roshni Vachhani</h4>
                  <h6>Front End Developer</h6>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 profile">
                  <img src="profile_resources/images/ryan.jpg" class="profilePic">
                  <h4 style="margin:0 auto;">Ryan Flynn</h4>
                  <h6>Back End Developer</h6>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 profile">
                  <img src="profile_resources/images/will.jpg" class="profilePic">
                  <h4 style="margin:0 auto;">Will Stone</h4>
                  <h6>Front End Developer</h6>
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="about">
                <h1>Our Story</h1>
                <p>We're the SingleStream Dream Team. We all share a passion for music and understand the struggle of not having one central source to listen to the music we love. And so, SingleStream was born. Our goal is to simplify your music listening experience and to make Streaming Great Again.</p>
              </div>

            </div>

        <!-- END PAGE CONTENT -->
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
      </div>
      </div>
       <!-- <div id="page-end"> -->
 
    </div> <!--End main content -->

  </section>


<!-- Additional Scripts -->
<script src="profile_resources/js/jquery.nicescroll.js"></script>
<script src="profile_resources/js/scripts.js"></script>
<script src="profile_resources/js/bootstrap.js"></script>

<!--For playlists-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

</body>

<script>
var app = angular.module("playlists", ['ngSanitize']);
  app.controller("mainController", ['$scope','$http','$compile', function($scope, $http, $compile) {

    $scope.query = ""; //Parameter for searching new songs or videos
    $scope.playlist_name = ""; //Name of new playlist
    $scope.description = ""; //Description for new playlist
    $scope.tags = ""; //Tags for new playlist
    $scope.data = null; //Returned videos and songs from search
    $scope.tracks = null; //Tracks from custom playlists
    $scope.trustedHtml = "";
    $scope.search_results = [];
    $scope.current_playlist = "";

    //Load playlists into view when user clicks on a specific playlist
    $scope.ready_change = function(i){
        $('#search_field').show();
        $scope.tracks = $scope.data[i].tracks;
        $scope.current_playlist = $scope.data[i]._id;
        var headerString = "<div class='row'>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-2'></div>";
        headerString += "<div class='col col-md-3'>Name</div>";
        headerString += "<div class='col col-md-3'>Artist/Channel</div>";
        headerString += "<div class='col col-md-2'>Playlist/Album</div>";
        headerString += "</div>";
        $('#views').html(headerString);
        var str = "";
        for(i = 0; i < $scope.tracks.length; i++){
          str+= "<div class='row'><p>" + $scope.tracks[i] + "</p></div>"
        }
        $('#views').append(str);
    }

    //Toggle create new playlist button
    $scope.custom = true;
    $scope.toggleCustom = function() {
        $scope.custom = $scope.custom === false ? true: false;
    };

    angular.element(document).ready(function () {
      //On page load, hide the search field for adding new songs to an existing playlist
        $('#search_field').hide();
        var req = {
            method: 'GET',
            url: '/get_playlists',
        }
        //Retrieve all custom playlists from backend
        $http(req).success(function(data){
            $scope.data = data;
            var row = "<div class='row'>";
            for(i=0; i<data.length; i++){
                if(i%4 == 0){
                    row+='</div>'
                    row+='<div class="row">';
                }
                row+= '<div class="col col-md-3">';
                row+= '<button id="playlist_' + i + '" onclick="angular.element(this).scope().ready_change(' + i + ')" type="button" class="btn btn-primary btn-lg">' + data[i].name +'</button>';
                row+= '</div>';
            }
            row += "</div>";
            //Append the tabs to access each playlist stored in user's account
            $('#all_playlists').html(row);
        });
    });

    //Add a new song to a playlist
    $scope.add = function(result){
      var req = {
          method: 'POST',
          url: '/add_to_playlist',
          data: {'result': result, "playlist_id": $scope.current_playlist}
      }
      $http(req).success(function(data){
          alert(data);
      });
    }

    //Applies new changes to playlist
    $scope.apply = function(){
      location.reload();
    }

    //Search napster and youtube for new songs and videos to add to an existing custom playlist
    $scope.search = function(){
      if($scope.query.length == 0){
        alert("Please enter a song!")
        return;
      }
      var req = {
          method: 'POST',
          url: '/search',
          data: {'q': $scope.query}
        }
      $http(req).success(function(data){
          $scope.search_results = data;
      });
    }

    //Create new custom playlist
    $scope.create = function(){
      var req = {
          method: 'POST',
          url: '/create_playlist',
          data: {'playlist_name': $scope.playlist_name, 'description':$scope.description, 'tags': $scope.tags}
        }
      $http(req).success(function(data){
            if(data == "Done"){
                location.reload();
            }
      });
    }
  }]);
</script>
</html>
