/* Album cover arts
/* ========================================================= */
.album.borntorun .art {
    background: #444 url(../images/albums/art/borntorun.jpg) center center;
    background-size: cover;
}

.album.InnocentMan .art {
    background: #444 url(../images/albums/art/innocentman.jpg) center center;
    background-size: cover;
}

.album.GlassHouses .art {
    background: #444 url(../images/albums/art/glasshouses.jpg) center center;
    background-size: cover;
}

.album.TheStranger .art {
    background: #444 url(../images/albums/art/stranger.jpg) center center;
    background-size: cover;
}

.album.beatles_1 .art {
    background: #444 url(../images/albums/art/1.jpg) center center;
    background-size: cover;
}

.album.b_52ndstreet .art {
    background: #444 url(../images/albums/art/52ndstreet.jpg) center center;
    background-size: cover;
}

.album.Adele_21 .art {
    background: #444 url(../images/albums/art/21.jpg) center center;
    background-size: cover;
}

.album.GhostStories .art {
    background: #444 url(../images/albums/art/ghoststories.jpg) center center;
    background-size: cover;
}

.album.sgtpepper .art {
    background: #444 url(../images/albums/art/peppers.jpg) center center;
    background-size: cover;
}

.album.Turnstiles .art {
    background: #444 url(../images/albums/art/turnstiles.jpg) center center;
    background-size: cover;
}

.album.NylonCurtain .art {
    background: #444 url(../images/albums/art/nyloncurtain.jpg) center center;
    background-size: cover;
}

.album.heathmcnease .art {
    background: #444 url(../images/albums/art/heathmcnease.jpg) center center;
    background-size: cover;
}

.album.mitchfroemming .art {
    background: #444 url(../images/albums/art/mitchfroemming.jpg) center center;
    background-size: cover;
}

.album.wildchild .art {
    background: #444 url(../images/albums/art/wildchild.jpg) center center;
    background-size: cover;
}

.album.aaronparker .art {
    background: #444 url(../images/albums/art/aaronparker.jpg) center center;
    background-size: cover;
}

.album.camiloseptimo .art {
    background: #444 url(../images/albums/art/camiloseptimo.jpg) center center;
    background-size: cover;
}

.album.riversrobots .art {
    background: #444 url(../images/albums/art/riversrobots.jpg) center center;
    background-size: cover;
}

.album.dawnandhawkes .art {
    background: #444 url(../images/albums/art/dawnandhawkes.jpg) center center;
    background-size: cover;
}

.album.sunshinecollective .art {
    background: #444 url(../images/albums/art/sunshinecollective.jpg) center center;
    background-size: cover;
}

.album.joeymaloney .art {
    background: #444 url(../images/albums/art/joeymaloney.jpg) center center;
    background-size: cover;
}

.album.socialclub .art {
    background: #444 url(../images/albums/art/socialclub.jpg) center center;
    background-size: cover;
}

.album.theeasternsea .art {
    background: #444 url(../images/albums/art/theeasternsea.jpg) center center;
    background-size: cover;
}

.album.whitemorning .art {
    background: #444 url(../images/albums/art/whitemorning.jpg) center center;
    background-size: cover;
}

.album.caliconscious .art {
    background: #444 url(../images/albums/art/caliconscious.jpg) center center;
    background-size: cover;
}

.album.levv .art {
    background: #444 url(../images/albums/art/levv.jpg) center center;
    background-size: cover;
}

.album.annajohnson .art {
    background: #444 url(../images/albums/art/annajohnson.jpg) center center;
    background-size: cover;
}

.album.resonatechurch .art {
    background: #444 url(../images/albums/art/resonatechurch.jpg) center center;
    background-size: cover;
}

.album.singlove .art {
    background: #444 url(../images/albums/art/singlove.jpg) center center;
    background-size: cover;
}

.album.tstrike .art {
    background: #444 url(../images/albums/art/tstrike.jpg) center center;
    background-size: cover;
}

.album.lowroar .art {
    background: #444 url(../images/albums/art/lowroar.jpg) center center;
    background-size: cover;
}

.album.seekerandservant .art {
    background: #444 url(../images/albums/art/seekerandservant.jpg) center center;
    background-size: cover;
}