      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
      }

      .header {
        padding: 25px;
      }

      .header-text {
        font-weight: 100;
        font-size: 50px;
        color: #31404d;
      }

      .user {
        font-weight: 200;
        font-size: 20px;
      }

      .tracks {
        width: 100%;
        max-width: 700px;
        display: table;
        border-collapse: collapse;
      }

      .track {
        overflow: hidden;
        display: table-row;
        height: 130px;
        width: 100%;
      }

      .track img {
        display: block;
        height: 130px;
        width: 130px;
      }

      .album-art {
        width: 130px;
        height: 130px;
      }

      .track-info {
        position: relative;
        vertical-align: top;
        font-weight: 200;
        height: 100%;
        width: 100%;
      }

      .album-art, .track-info {
        display: table-cell;
        border-top: 5px solid white;
      }

      .track:hover {
        background-color: rgba(230, 230, 237, 0.6);
      }

      .progress-bar {
        background-color: #7fc8ea;
        z-index: 1;
        position: absolute;
        display: none;
        height: 130px;
        top: 0;
        left: 0;
        width: 0;
      }

      .playing .progress-bar, .paused .progress-bar {
        display: block;
      }

      .artist, .name {
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        font-size: 25px;
        margin-top: 10px;
        color: #45565E;
      }

      .artist { top: 42px; }

      .artist, .duration, .current-time {
        font-size: 19px;
        color: #31404d;
      }

      .name, .artist, .duration, .current-time {
        position: absolute;
        left: 25px;
        z-index: 2;
      }

      .duration, .current-time {
        bottom: 10px;
        font-weight: 300;
      }

      .current-time {
        display: none;
      }

      .playing .duration,
      .paused .duration {
        display: none;
      }

      .playing .current-time,
      .paused .current-time {
        display: block;
      }